@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Yt to MP3</h1>
    <form method="POST">
        <input type="text" id="ytLink" name="ytLink" placeholder="Type In Youtube Link Here">
        <input type="submit" value="Submit" />
    </form>


</div>
